@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}

html::-webkit-scrollbar{
    width:1.2rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:#e60e0e;
}


body, html{
    margin: 0;
    padding: 0;
    background-color: #212121;
    letter-spacing:1px;
}

aside{
    height: 100vh;
    width: 22rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: #fff;
    padding:2rem;
    overflow-x: hidden;
    padding-top: 20px;
    
}

.aside-toggle{
    left: 0;
}



aside h1{
    font-size: 2rem;
    margin: 0;
}

aside p{
    font-size: 1.3rem;
    margin-top:5px;
}


aside img{
    max-width: 200px;
    max-height:200px;
    border:6px #e60e0e solid;
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
}

aside nav{
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

aside nav .nav-items{
    width:100%;
    background-color: #403f3f;
    margin: 0.4rem 0rem;
    text-align: center;
    padding: 0.7rem 0rem;
    border-radius:2rem;
    transition: background-color 1s;
}

aside nav .nav-items:hover{
    background-color: #e60e0e;
}

aside nav .nav-items a{
    font-size:1.4rem;
    text-decoration: none;
    color: #fff;
}

main{
    height: auto;
    margin-left: 22rem; /* Same as the width of the sidenav */
    
}

main .fa-bars{
    color: #fff;
    position:fixed;
    right:0.7rem;
    font-size: 1.4rem;
    margin-top:1.5rem;
    padding:0.7rem;
    background-color: rgba(255, 255, 255, 0.438);
    display:none;
    cursor:pointer;
    
}
main .home{
    width: 100%;
    height:100vh;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 1.4rem;
}

main .content{
    padding:0rem 10rem;
}



main h3{
    margin:0;
}

main h1{
    margin:0;
    color:#e60e0e;
}

main span{
    color:#fff;
}

main a{
    background-color: #403f3f;
    display: inline-flex;
    padding:0.5rem 1rem;
    border-radius: 2rem;
    transition:background-color 1s;
    text-decoration: none;
    color: #fff;
}

main a:hover{
    background-color: #e60e0e;
}

main .about{
    padding:2rem 4rem;
    height: 100vh;
}

main .about h2{
    font-size:3rem;
    color:#fff;
    text-align: center;
    padding:0;
}

main .about h2 span{
    color:#e60e0e;
}


.about .about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgb(160, 160, 160);
    padding-top:3rem
}

.about-content .box{
    width:50%;
}

.about-content .box p{
    color:#fff;
    font-size: 1.4rem;
}

.about-content .box span{
    color:#e60e0e;
    font-size: 1.4rem;
}

.about-content .left a{
   font-size: 1.4rem;
   display: inline;
}

.about-content .right{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 1.4rem;
}

.about-content .right i{
    color:#e60e0e;
    font-size: 16px;
    padding:0.2rem 1rem;
    border:1px solid #fff;
    border-radius:20px;
    
}

.education{
    padding:2rem 4rem;
    height: 100vh;
}

.education h2{
    font-size:3rem;
    color:#fff;
    text-align: center;
    padding:0;
}

.education h2 span{
    color:#e60e0e;
}

.education .edu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgb(160, 160, 160);
    padding:3rem 0rem;
}

.education .edu .diplome{
    width:50%;
}

.education .edu i{
    font-size: 1.2rem;
    color:#fff;
    padding:1rem;
    border-radius: 49%;
    background-color:#e60e0e;
}

.education .edu .year{
      padding:0.3rem 1.5rem;
      background-color:#403f3f;
      border-radius: 20px;
      margin-left: 1rem;
}

.diplome div{
    border-left:3px solid #fff;
    margin-left:1.6rem;
    padding:1rem 3.1rem;
    color:#fff;
    font-size: 1.2rem;
}

.portfolio{
    padding:2rem 4rem;
    height: 100vh;
}

.portfolio h2{
    font-size:3rem;
    color:#fff;
    text-align: center;
    padding:0;
}

.project{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgb(160, 160, 160);
    padding:3rem 0rem;
}
.portfolio h2 span{
    color:#e60e0e;
}

.portfolio .box{
    width:25%;
    height:12rem;
    border:6px solid red;
    border-radius: 5px;
    margin:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.project .box a{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0.7rem 1rem;
    transition:all 1s;
    visibility:hidden;
    font-size: 1.4rem;
}

.project .box:hover{
    border:none;
    box-shadow: rgba(255, 0, 0, 0.25) 0px 14px 28px, rgba(255, 5, 5, 0.22) 0px 10px 10px;
}

.project .box:hover a{
    background-color:#e60e0e;
    visibility: visible;
}

.b1{
    background-image:url(../images/calculator-g0942dc5da_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.b2{
    background-image:url(../images/carousel-g58d60eac0_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.b3{
    background-image:url(../images/istockphoto-829559662-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.b4{
    background-image:url(../images/money-g95002f3e7_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.b5{
    background-image:url(../images/passport-g81860bff4_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.b6{
    background-image:url(../images/shopping-cart-gc67708f5a_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.contact{
    padding:2rem 4rem;
    height: 110vh;
}

.contact h2{
    font-size:3rem;
    color:#e60e0e;
    padding:0;
    margin: 1rem 2.5rem;
    text-align:center
}

.contact h2 span{
    color:#fff;
}

.contact .contact-content{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgb(160, 160, 160);
    padding:3rem 0rem;
}

.info{
    width:50%;
    color:#fff;
    display:flex;
    flex-direction: column;
    text-align:left;
    padding:0;
    font-size: 1.4rem
    /* justify-content:center; */
}

.info h2{
    text-align:left;
    margin-left: 0rem;
}


.info ul{
    font-size: 1.4rem;
    list-style: none;
    margin-left: -2rem;
}

.info ul li{
    padding:0.5rem 0rem;
}

.info ul li i{
    color:#e60e0e;
}

.send-message{
    width:50%;

}

.send-message form{
    display:flex;
    flex-direction:column;
}

.send-message form .box{
    background-color: #333333;
    margin: 0.7rem;
    font-size: 1.2rem;
    font-weight: 10;
    padding: 0.9rem;
    border:none;
    color:#fff;
}

.message{
    height: 10rem;
    resize: none;
}

button{
    width:7rem;
    margin-left:0.8rem;
    padding: 0.6rem 1.4rem;
    font-size:1rem;
    border-radius:3rem;
    background-color: #454545;
    border: none;
    color: #fff;
    transition: all 1s;
    cursor: pointer;
}

button:hover{
    background-color: #e60e0e;
}

.nav-SlideIn{
    transition: all 2s ease-in-out;
    left: 0rem;
}

.footer{
    display: flex;
    justify-content:center;
    align-items:center;
    color: #fff;
    font-size:1.4rem;
    font-weight: 100;
    padding:1rem;
}



.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}




/* media queries  */

@media (max-width:1250px){

    html{
        font-size: 90%;
    }
    aside.aside-toggle{
        left: 0;
    }

    main .fa-bars{
        display: block;
    }


    .home{
        padding:1rem 2rem;
    }

    .nav-Slideout{
        transition: all 2s ease-in-out;
        left: -22rem;
    }

    main{
        margin-left: 0;
    }
    
    
    main .content{
        padding:0rem 5rem;
    }
    body{
        padding:0;
        
    }

}

@media (max-width:991px){
   body{
       padding:0;
   }

}

@media (max-width:820px){

    html{
        font-size: 80%;
    }

    .contact .contact-content{
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align:left;
    }

    .contact .contact-content .info{
        width: 100%;
    }
    .contact .contact-content .send-message{
        width: 100%;
    }
    .project .box{
        width:30%;
        height:16rem
    }

    .project{
        width:80%;
    }


    main .content{
        padding:0rem 2rem;
    }

    .portfolio{
        padding:2rem 0rem;
        height: auto;
    }
    main .contact{
        padding:2rem;
    }

    main .contact .contact-content .info ul{
        padding:0rem 2.2rem;
    }
 
 }

 @media (max-width:600px){
     main{
         height:auto;
         padding:0;
         margin:0;
     }

    main .about{
        padding:0rem 2rem;
        height:auto;
    }

    main .education{
        padding:2rem 2rem;
        height:auto;
    }

    .about .about-content{
        flex-direction: column;
        padding: 0;
        margin:0;
    }

    .about .about-content .box{
        width: 100%;
    }

   
    .education .edu{
        flex-direction: column;
    }

    .education .edu .diplome{
        width: 100%;
    }

    .project{
        width:80%;
        flex-direction: column;
    }

    .project .box{
        width:70%;
    }
   

    html{
        font-size: 70%;
    }
 }


@media (max-width:400px){

    main .content{
        padding:0rem 0rem;
    }

    .about{
        padding:0rem 0rem;
    }

    main .about{
        height:auto;
       
    }

    main .education{
       height:auto;
   }

   main .portfolio{
       height:auto;
   }

   main .contact{
       height:auto;
   }

   main .contact .contact-content{
       width:100%;
       padding:0;
   }

   main .content{
       padding:0;
       margin:0;
   }
   main .education {
    margin-bottom: 7rem;
   }
   main .contact{
    padding:2rem;
}

    main .contact .contact-content .info ul{
    padding:0rem 1rem;
}     
 }